@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_MLayout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Thêm Trận đấu</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
            <li class="breadcrumb-item active">Thêm trận đấu</li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-title">
                    <h4>Tạo trận đấu</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Chủ Nhà</label>
                                <input class="form-control" type="text"/>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Đội khách</label>
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>