<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.png">
    <title>Đăng Ký</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/helper.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-cookies.min.js"></script>
    <script src="Scripts/angular-messages.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
</head>
<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">

        <div class="unix-login" ng-app="ca-cuoc">
            <div class="container-fluid" ng-controller="registerController">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="login-content card">
                            <div class="login-form">
                                <h4>ĐĂNG KÝ</h4>
                                <form ng-submit="DangKy()" name="myForm">
                                    <div class="form-group">
                                        <label>TÊN TÀI KHOẢN</label>
                                        <input type="text" class="form-control" placeholder="Tên tài khoản" ng-model="TenTaiKhoan" name="tentaikhoan">
                                    </div>
                                    <div class="form-group">
                                        <label>HỌ VÀ TÊN</label>
                                        <input type="text" class="form-control" placeholder="Họ và tên" ng-model="HoVaTen">
                                    </div>
                                    <div class="form-group">
                                        <label>EMAIL</label>
                                        <input type="email" class="form-control" placeholder="Email" ng-model="Email" name="myField" required minlength="5">
                                        <div ng-messages="myForm.myField.$error" role="alert">
                                            <div ng-message="required">Please enter a value for this field.</div>
                                            <div ng-message="email">This field must be a valid email address.</div>
                                            <div ng-message="minlength">This field can be at most 15 characters long.</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>MẬT KHẨU</label>
                                        <input type="password" class="form-control" placeholder="Mật Khẩu" ng-model="MatKhau">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" id="btnDangky">Đăng Ký</button>
                                    <div class="register-link m-t-15 text-center">
                                        <p>Bạn đã có tài khoản ? <a href="@Url.Action("Login")"> Đăng Nhập</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="Scripts/lib/jquery/jquery.min.js"></script>
    
    <!-- Bootstrap tether Core JavaScript -->
    <script src="Scripts/lib/bootstrap/js/popper.min.js"></script>
    <script src="Scripts/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="Scripts/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="Scripts/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="Scripts/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="Scripts/custom.min.js"></script>
    <script src="Scripts/lib/toastr/toastr.min.js"></script>

    <script src="Scripts/Account/Login.js"></script>
    <script>
    toastr.options = {
        "positionClass": "toast-bottom-right",
        timeOut: 5000,
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
        "tapToDismiss": false
    };
    </script>



</body>
</html>
